body {
    background-repeat: no-repeat;
    size: 100%;
    background-color:rgb(60, 60, 99);
}

.customground {
    background-color: rgb(230, 235, 255);
    position: fixed;
    width: 100%;
    top: 800px;
    height: 150px;
    border-top: 1px solid white;
    box-shadow: 2vw 2vw 2vw 2vw #fff;
    z-index: 100;
}

.customground1 {
    background-color: rgb(230, 235, 255);
    position: fixed;
    width: 60%;
    top: 700px;
    height: 200px;
    border: 1px solid white;
    box-shadow: 2vw 2vw 2vw 2vw #fff;
    margin-left: 54vw;
    border-radius: 100vw;
    z-index: 100;
}
.customground2 {
    background-color: rgb(230, 235, 255);
    position: fixed;
    width: 80%;
    top:800px;
    height: 200px;
    margin-left: 45vw;
    z-index: 200;
}
.customground3 {
    background-color: rgb(230, 235, 255);
    position: fixed;
    width: 15%;
    top: 675px;
    height: 300px;
    border: 1px solid white;
    box-shadow: 2vw 1vw 8vw 2vw #fff;
    border-radius: 0vw 100px;
    z-index: 90;
}
.customground4 {
    background-color: rgb(230, 235, 255);
    position: fixed;
    width: 14.8%;
    top:760px;
    height: 200px;
    z-index: 200;
}














.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}
.snowflake,
.snowflake .inner {
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes snowflakes-fall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(110vh);
  }
}

@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  animation-name: snowflakes-shake;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
.snowflake .inner {
  animation-duration: 10s;
  animation-name: snowflakes-fall;
  animation-timing-function: linear;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(0) .inner {
  animation-delay: 0s;
}
.snowflake:first-of-type {
  left: 10%;
  animation-delay: 1s;
}
.snowflake:first-of-type .inner,
.snowflake:nth-of-type(8) .inner {
  animation-delay: 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: 0.5s;
}
.snowflake:nth-of-type(2) .inner,
.snowflake:nth-of-type(6) .inner {
  animation-delay: 6s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(11) .inner,
.snowflake:nth-of-type(3) .inner {
  animation-delay: 4s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(10) .inner,
.snowflake:nth-of-type(4) .inner {
  animation-delay: 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 3s;
}
.snowflake:nth-of-type(5) .inner {
  animation-delay: 8s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 1s;
}
.snowflake:nth-of-type(7) .inner {
  animation-delay: 2.5s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  animation-delay: 1.5s;
}
.snowflake:nth-of-type(9) .inner {
  animation-delay: 3s;
}
.snowflake:nth-of-type(10) {
  left: 25%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(11) {
  left: 65%;
  animation-delay: 2.5s;
}
.snowflake:nth-of-type(1) {
    left: 65%;
    animation-delay: 2.5s;
  }
  .snowflake:nth-of-type(12) {
    left: 65%;
    animation-delay: 2.5s;
  }
  .snowflake:nth-of-type(13) {
    left: 65%;
    animation-delay: 2.5s;
  }
  .snowflake:nth-of-type(14) {
    left: 65%;
    animation-delay: 2.5s;
  }
      